[2017-05-04 18:11] mvinca opened #4 "Tests only run once"
I have a test project in TeamCity that includes one xUnit.NET test and one nUnit 3 test. (The idea originally was trying to get nUnit working in .NET Core and being able to fall back to xUnit if we didn't get there.) Using pre-alpha nUnit, I can now run tests in .NET Core. When the project runs for the very first time on TeamCity, TeamCity tells me that 2 tests passed. All subsequent runs, however

[2017-06-15 12:20] NikolayPianikov commented on #4
@mvinca could you share csproj files for testing projects or some simple solution to reproduce your scenario?

[2017-07-01 15:05] mvinca commented on #4
I couldn't reproduce in exactly the same way I stated, but in this sample project (https://github.com/mvinca/tc-sample-test.git) I found that my xUnit tests will hide my NUnit tests. (Take off the public modifier on the xUnit test, and TeamCity will see the 3 NUnit tests. Put it back on, and TeamCity will only see the one xUnit test.)

Hope that helps.

[2017-07-25 23:32] bording opened #5 "Adapter isn't compatible with .NET Core 2.0"
I've been working on moving projects to .NET Core 2.0, using the Visual Studio 2017 15.3 preview release to do it.

As part of adjusting our build configuration, I've been getting tests running on .NET Core via `dotnet test`, and I was excited to come across this package because not having test integration has definitely been a bit painful.

However, this package does not work with `dotnet test` f

[2017-08-04 08:59] NikolayPianikov commented on #5
@bording yes I think it is possible, I will check a compatibility

[2017-08-07 14:19] ecourtenay opened #6 "NUnit3TestAdapter 3.8.0"
It appears that TeamCity.VSTest.TestAdapter isn't compatible with NUnit3TestAdapter - is this a known issue?

[2017-08-14 20:27] NikolayPianikov commented on #6
Look like it could be an issue. Is it possible to create simple project to reproduce? My
[sample](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/files/1223362/a.zip) works fine

[2017-08-14 20:42] bording commented on #5
@NikolayPianikov Any progress on this? Since .NET Core 2.0 was released today, it would be nice to have a test adapter that works with it.

[2017-08-15 05:56] gulbanana commented on #5
Yes, please! I have a lot of teamcity builds in which I'd like to start using 2.0.

[2017-08-15 15:07] NikolayPianikov commented on #5
I've fixed and published v1.0.1

[2017-08-15 15:07] #5 closed

[2017-08-15 18:00] bording opened #7 "Identical .props file for both targets causes unneeded assembly in test project output"
Now that 1.0.1 is out and supports .NET Core 2.0, I tried to use it, but I've run into another issue.

Looking at how the package is constructed, you're including the same .props file for both targets:

https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/blob/c906291b1fc9c6676acabbf8c02cb75d70cd2104/TeamCity.VSTest.TestLogger/package.nuspec#L25-L26

But that means you're including TeamCity.VS

[2017-08-15 19:45] NikolayPianikov commented on #7
@bording It is an expected behavior and it is required to run tests using vstest.console.exe which does not support the Test Platform (for example for net35;net40 projects). Maybe it is already deprecated ... I am going to think about it tomorrow. But what is the reason to check testing assemblies? I mean in the common case these assemblies are not used as binary dependencies and might have any ta

[2017-08-15 20:43] bording commented on #7
We have an assembly scanner in our project that looks for assemblies and loads them dynamically at runtime. We have tests for this assembly scanner, and they are failing because they find both versions of the file, and then we get an error saying that the assembly has already been loaded when it attempts to load the second one it finds.

We have far too many tests impacted to try and exclude the f

[2017-08-21 11:35] NikolayPianikov commented on #7
@bording Now output dir contains assemblies with valid framework version
See package v 1.0.2
But for msbuild 15 output contains 2 assemblies TeamCity.VSTest.TestLogger.dll and TeamCity.VSTest.TestAdapter.dll. MS changes regex to find loggers and I did not find any robust way to choose an appropriate name

[2017-08-21 11:35] #7 closed

[2017-08-24 09:37] NikolayPianikov commented on #6
@ecourtenay do you still have this issue?

[2017-08-24 15:39] NikolayPianikov commented on #4
Fixed, please use https://www.nuget.org/packages/TeamCity.VSTest.TestAdapter/1.0.3

[2017-08-24 15:39] #4 closed

[2017-08-24 15:41] NikolayPianikov commented on #6
@ecourtenay I can't reproduce this issue. I've closed this issue, but please feel free to reopen it again if it still actual.

[2017-08-24 15:41] #6 closed

[2017-08-25 05:27] drewfreyling opened #8 "Update Wiki to include details about teamcity detection"
I'm currently running my net core tests inside a docker container from my teamcity server. By doing this I don't get the tests results reporting to teamcity. I'm wondering if it is worth mentioning in the wiki that the test adapter looks for the `TEAMCITY_PROJECT_NAME` environment variable to know if it needs to send the text messages to the team city server? This would have saved me a fair bit of

[2017-08-26 10:30] NikolayPianikov commented on #8
@drewfreyling We will be very grateful if you do this. thank you in advance

[2017-08-26 10:43] NikolayPianikov commented on #8
@drewfreyling unfortunately I have no required access rights to add you as repo writer, so if you faced any issues to change a wiki, I could help and add your paragraph/wiki page

[2017-08-26 10:46] NikolayPianikov commented on #8
@drewfreyling also may be there is some way to define that logger works inside a docker container (env vars or so on)

[2017-08-27 23:43] drewfreyling commented on #8
I will need someone to add it in as I don't have access to change the wiki.

I'm thinking of adding a simple statement under the paragragh "Note that this package does not impact tests run locally, but only those run under TeamCity." which reads:

[2017-08-29 08:46] NikolayPianikov commented on #8
@drewfreyling I've added a new part to the Wiki home page "Important notes" and your notes (with a cosmetic change). Thank you

[2017-08-29 08:49] NikolayPianikov commented on #8
@drewfreyling Could you close this issue if everything is correct?

[2017-08-29 09:36] #8 closed

[2017-10-16 09:39] dtretyakov opened #9 "Duplicated number of tests for xUnit runner"
In .net core apps used xunit executor with a different name `executor://xunit/VsTestRunner2/netcoreapp` which caused duplicated number of reported tests. We should support this case too.

https://github.com/JetBrains/teamcity-dotnet-plugin/issues/91

[2017-10-16 09:40] #9 closed

[2017-10-25 13:34] oakio opened #10 "No test is available for NUnit"
Command `dotnet test` executed with message "No test is available in C:\temp\MyApp\build\bin\net461\MyApp.Tests.dll. Make sure that test discoverer & executors are registered and platform & framework version settings are appropriate and try again."

My configuration:
[code]
But when `TeamCity.VSTest.TestAdapter` package removed, all tests were successful found.

[2017-10-25 15:03] dtretyakov commented on #10
@oakio, could you please report version of TeamCity .NET CLI plugin?

[2017-10-25 15:33] oakio commented on #10
How to detect plugin version? All "Bundled plugins" in our Teamcity has version 47070.

[2017-10-25 15:49] dtretyakov commented on #10
@oakio, do you use to execute `dotnet test` [TeamCity .NET CLI plugin](https://plugins.jetbrains.com/plugin/9190--net-cli-support) or run it via command line runner?

[2017-10-25 15:51] oakio commented on #10
Via command line (powershell script aka build script).

[2017-10-26 12:17] NikolayPianikov commented on #10
@oakio is it possible to share simple solution to reproduce? Did you manually change the output directory?

[2017-10-26 14:45] oakio commented on #10
https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/pull/11

[2017-11-14 12:16] NikolayPianikov opened #12 "Update nuget refs"

[2017-11-14 12:35] #10 closed

[2017-11-14 13:50] #12 closed

[2017-11-14 14:11] NikolayPianikov commented on #10
Released [here](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/releases/tag/1.0.6)

[2018-02-18 04:29] jrlilly opened #15 "Error running ListLogger"
I've installed the TestAgent install of VS2017 and copied the DLLs to extension folder for 2017 and when running ListLoggers I'm receiving the following when using diag to get a log:

TpTrace Warning: 0 : 153304, 1, 2018/02/17, 23:04:12.428, 5918605317151, vstest.console.exe, TestPluginDiscoverer: Failed to get types from assembly 'TeamCity.VSTest.TestLogger, Version=1.0.7.140, Culture=neutral, Pu

[2018-03-16 18:21] NikolayPianikov commented on #15
@jrlilly which of the two folders did you copy?

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\TestWindow\Extensions`

or

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\Extensions\TestPlatform\Extensions`

[2018-04-11 12:00] NikolayPianikov opened #17 "Logger is not fully compatible with the TeamCity Visual Studio tests plugin"
Also https://youtrack.jetbrains.com/issue/TW-44094

[2018-04-11 12:18] NikolayPianikov commented on #15
@jrlilly any updates?

[2018-04-11 13:08] #17 closed

[2018-05-11 12:16] DmitryShaburov opened #18 "Output in not formatted in microsoft/dotnet containers"
Hello!

I'm trying to run tests in docker container, but do not get teamcity-formatted output from `dotnet test` command

**Steps to reproduce:**
[code]

**Expected behaviour:**
`dotnet test` output is teamcity-formatted

**Actual behaviour:**
`dotnet test` output is not teamcity-formatted

[2018-05-11 21:10] logankp commented on #18
I'm having this same issue. Turning up the verbosity of dotnet test seemed to help:

```dotnet test -v normal```

[2018-05-14 11:38] dtretyakov commented on #18
The problem of that is a breaking change, in vstest start in some .NET CLI versions: https://github.com/Microsoft/vstest/issues/1580

[2018-05-14 17:57] NikolayPianikov commented on #18
@dtretyakov Microsoft/vstest#1580 is about SDK 2.1.300-rc1-008673

[2018-05-14 18:03] NikolayPianikov commented on #18
@logankp what `dotnet --version` do you use?

[2018-05-14 18:58] dtretyakov commented on #18
The image ` microsoft/dotnet:2.0-sdk` currently includes .NET SDK 2.1.200:
[code]

[2018-05-14 20:02] logankp commented on #18
@NikolayPianikov I'm using version 2.1.300-preview2-008533 locally, 2.1.200 in the container. Both versions have the same issue. 2.1.100 works correctly.

[2018-05-15 10:17] NikolayPianikov commented on #18
@dtretyakov you are right about  SDK 2.1.200, so we will wait for Microsoft/vstest#1580

[2018-05-22 11:50] NikolayPianikov commented on #15
@jrlilly I've closed this issue because of cannot reproduce it. Feel free to reopen it again if it is still reproducible

[2018-05-22 11:50] #15 closed

[2018-05-27 02:39] zone117x opened #19 "Tests not reported with xunit"
Followed exact instructions. MSTest is being reported but xunit tests are not. Using netcoreapp2.0 and Ubuntu build agent.
Tried with the dotnet core CLI runner with `dotnet test` and `dotnet vstest`, and tried custom script with both as well.

[2018-06-05 12:50] NikolayPianikov commented on #19
Source of the problem: https://github.com/Microsoft/vstest/issues/1590

[2018-06-05 13:30] #19 closed

[2018-06-05 13:34] NikolayPianikov commented on #18
Logger 1.0.9 uses `normal` verbosity level as default

[2018-06-05 13:34] #18 closed

[2018-07-06 16:02] NikolayPianikov opened #20 "vstest does not send test output to stdOut/stdErr for verbosity level quiet, minimal"
Related issue is https://github.com/Microsoft/vstest/issues/1590

Also related to:
- VS 2017.5 `vstest.console.exe`
- dotnet core 2.1.300 for `dotnet test`, `dotnet vstest`, `dotnet msbuild /t:vstest`

The sample of workaround:
`vstest.console.exe Tests.dll /TestAdapterPath:. /logger:TeamCity /logger:console;Verbosity=normal`

[2018-07-10 07:12] #20 closed

[2018-07-31 15:32] mexisd opened #21 "TeamCity.VSTest.TestLogger.dll not included after dotnet publish"
.NetCoreCli: v2.1.202

Given a .NetCore project that references
[code]
after `dotnet publish {projectName}.csproj`, the assembly `TeamCity.VSTest.TestLogger.dll` is not included in the published artifacts.

As a result if I use `dotnet vstest {projectName}.dll` to run my tests from TeamCity, no report is added. TeamCity will just report `Success` which is not very useful, instead of `Tests passed:

[2018-08-09 12:51] mhail commented on #21
After digging through TeamCity.VSTest.TestAdapter.props the file is only copied when IsUnderTeamCity is set to true this can be faked from the dotnet command line using ```-p:IsUnderTeamCity=true``` or adding a property definition to the project file.

Ex: command line is ```dotnet test``` ... ```--test-adapter-path:. --logger:TeamCity -p:IsUnderTeamCity=true```

[2018-08-09 16:02] NikolayPianikov commented on #21
@mexisd To run tests using this adapter you should use the dotnet CLI command `dotnet test` to run tests for a project or a solution not for an assembly. In this case dotnet CLI runs `restore`, `build` and `vstest` targets.

To run tests for specific testing assembly you should use the 'dotnet vstest' command.

[2018-08-09 16:08] NikolayPianikov commented on #21
@mhail  There are no any reasons to use `IsUnderTeamCity` under a TeamCity agent process because of this property is always true for this case.

[code]

TeamCity agent process always has environment variables `TEAMCITY_PROJECT_NAME` and `TEAMCITY_VERSION`.

[2018-08-09 16:12] mexisd commented on #21
@mhail @NikolayPianikov Thanks for your responses. I will try the `-p:IsUnderTeamCity=true` and come back to you.

I am using the `dotnet vstest` but because the `TeamCity.VSTest.TestLogger.dll` is not in the artifacts I don't get results on TeamCity. For now I added the `DLL` manually and the reporting works.

I would expect when I do the `dotnet publish` to have the `DLL` in the artifacts. Is th

[2018-08-09 16:15] NikolayPianikov commented on #21
@mexisd Are you using the [dotnet CLI plugin](https://github.com/JetBrains/teamcity-dotnet-plugin) to run `dotnet vstest` command?

[2018-08-09 16:18] mexisd commented on #21
@NikolayPianikov Good question. To not have a dependency on a specific agent the `CLI`, for the version we want, gets downloaded locally, during the build and that's the one being used.

[2018-08-10 12:07] NikolayPianikov commented on #21
@mexisd From the TeamCity command line runner you could run tests like:
`dotnet vstest tests.dll /Logger:teamcity /TestAdapterPath:%teamcity.tool.TeamCity.Dotnet.Integration.DEFAULT%/vstest15`

[2018-08-17 07:58] NikolayPianikov commented on #21
@mexisd if you have any questions feel free to reopen it

[2018-08-17 07:58] #21 closed

[2018-09-11 17:14] NikolayPianikov opened #23 "Inconclusive NUnit tests reported as successful"
* Steps to reproduce:

Create NUnit test that executes with status 'Not Run' (see below)
Run TeamCity build with step dotnet test running this test.
* Expected result:
Test is reported as Skipped.

* Actual Result:
Test is reported as Passed.

* Test Class Example:

[code]

Originally from https://youtrack.jetbrains.com/issue/TW-56771

[2018-09-12 13:20] frederik-h opened #24 "No tests found when running dotnet test with TC TestAdapter"
I have some trouble with test projects on TeamCity for which the tests stopped executing at some point (TC update, dotnet SDK update?!). Unfortunately, this did not cause the dotnet build step to fail and hence it went unnoticed for quite some time. I have traced back the problems to the TeamCity.VSTest.TestAdapter.
As a minimal example with similar behavior, consider a project with the following

[2018-09-12 14:50] NikolayPianikov commented on #24
*full .net* vstest and *.net core* vstest have a difference how these tools find adapters in different versions of .net SDK.

But your project file contains package reference to `<PackageReference Include="TeamCity.VSTest.TestAdapter" Version="1.0.10" />`. This package configures the test adapters path and the logger automatically. So try avoiding these arguments `--test-adapter-path` and `--logge

[2018-09-13 06:30] frederik-h commented on #24
Thanks for your quick reply. The perhaps most important thing first:
Invoking the tests with ``/p:TEAMCITY_VERSION=2018`` yields the desired result for both SDK versions. Thanks!

Some things that don't work:

1) Running ``dotnet test`` with the "command line" runner (with the TC adapter as a package reference in the project file) within TeamCity executes the tests but does not produce the output

[2018-09-13 09:40] NikolayPianikov commented on #24
@frederik-h I would like to mention that the additional argument `/p:TEAMCITY_VERSION=2018` is not required under TeamCity, TeamCity makes it automatically. For local test runs on your computer TeamCity output is hidden by design because of it does not suppose TeamCity integration. For the **docker** scenario there is small [trick](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter#docker-co

[2018-09-13 10:01] NikolayPianikov commented on #24
@frederik-h

*Running dotnet test with the "command line" runner (with the TC adapter as a package reference in the project file) within TeamCity executes the tests but does not produce the output format expected by TC. Same result on my local machine.*

Is it possible to share some screenshots and build log files?

*Running dotnet test using the "command line" runner within TeamCity with the expl

[2018-09-13 10:02] frederik-h commented on #24
@NikolayPianikov It is not clear to me for which runner this should work? If I use the ".NET CLI (dotnet)" runner, it does not work for me. It works if I replace this build step by a command line build step which invokes dotnet test manually with the version parameter. By the way, the version line of the UI says that we are running "TeamCity Enterprise 2018.1.1 (build 58406)".

What you said regar

[2018-09-13 10:14] NikolayPianikov commented on #24
@frederik-h Unfortunately *vstest* has this [issue](https://github.com/Microsoft/vstest/issues/1580), but the *vstest* team does not want to fix it. May be it is this issue. Thus you could update your TeamCity to the latest version because we have tried to apply some workarounds here. Or just manually set the verbosity level to `normal` for `test` step in the *dotnet CLI* plugin or in the *command

[2018-09-13 10:16] NikolayPianikov commented on #24
Also we have the related [issue](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/issues/20) here

[2018-09-13 10:52] frederik-h commented on #24
@NikolayPianikov It is probably not related to those issues since the output of the dotnet test command in the build log of the dotnet cli build step explicitly says that "No test is available in ..." (for target framework net462, with SDK 2.1.301). I cannot update anything on the build agents, but I have several workarounds that I can use until we get updated TC and dotnet SDK versions. And the s

[2018-09-13 10:57] frederik-h commented on #24
To me, issues #10 and #11 seem to be related to this issue.

[2018-12-02 19:46] jrlilly commented on #15
@NikolayPianikov re-opening, reproduction steps currently:

1. Take the 3 files in the zip and put into a folder
2. Open the command prompt in the folder
3. Run "C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" /TestAdapterPath:. /ListLoggers /diag:log.txt

The log.txt will contain the error message in my first c

[2018-12-07 21:36] jrlilly opened #25 "Error running ListLogger"
1. Take the 3 files in the zip and put into a folder
2. Open a command prompt in the folder
3. Run "C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" /TestAdapterPath:. /ListLoggers /diag:log.txt

The log.txt will contain the error message in my first comment.

_Originally posted by @jrlilly in https://github.com/

[2018-12-11 13:31] NikolayPianikov opened #26 "Support test metadata"
https://confluence.jetbrains.com/display/TCD18/Reporting+Test+Metadata

[2018-12-12 13:42] #26 closed

[2018-12-12 13:50] NikolayPianikov commented on #25
Which directory in zip was a source of libraries: vstest12, vstest14 or vstest15?

[2018-12-19 12:57] dtretyakov commented on #25
@jrlilly, could you please clarify which versions did you use there?

[2019-01-07 15:23] exore opened #28 "Nunit tests not reported after running test with dotcover"
I have a build with .NET core projects that use NUnit as a testing framework, and those tests are reported correctly in TeamCity when all projects have the TeamCity.VSTest.TestAdapter NuGet package dependency in the .csprojfile like such:
`<PackageReference Include="TeamCity.VSTest.TestAdapter" Version="1.0.13" />`

The tests are run with the command: dotnet test

However, when tests are executed

[2019-01-09 11:24] exore commented on #28
The issue was due to the arguments I passed into dotCover.

[2019-01-15 14:11] NikolayPianikov commented on #26
Related [issue](https://github.com/nunit/nunit3-vs-adapter/issues/332)

[2019-01-17 08:12] onkeld0m opened #29 "TeamCity.VSTest.TestLogger not showing up when running vstest.console /ListLoggers"
Hey team,

I'm having a bit of trouble getting the TeamCity logger running under VS 2017 patchlevel 15.9.3. The installation for VS 2013 is running smoothly though.

I followed the installation notes and put the 4 files found in the downloaded .zip file (under folder vstest15) in the following folder on the build machines local drive:

C:\Program Files (x86)\Microsoft Visual Studio\2017\Profession

[2019-01-17 08:32] NikolayPianikov commented on #29
Hi

I'm trying to reproduce the problem, could you correct me what I'm doing wrong:

- downloaded [TeamCity.VSTest.TestLogger.zip](http://teamcity.jetbrains.com/guestAuth/app/rest/builds/buildType:TeamCityPluginsByJetBrains_TeamCityVSTestTestAdapter_Build,pinned:true,status:SUCCESS,branch:master,tags:release/artifacts/content/TeamCity.VSTest.TestLogger.zip) from the [page](https://github.com/JetBr

[2019-01-17 08:53] onkeld0m commented on #29
I just double checked everything and here is what I did (yesterday):
- I downloaded TeamCity.VSTest.TestLogger.zip
- I extracted the .zip file and copied the files IoC.dll, TeamCity.ServiceMessages.dll, TeamCity.VSTest.TestAdapter.dll and TeamCity.VSTest.TestLogger.dll from the vstest15 folder to the folder C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\Extensions\Tes

[2019-01-17 09:04] NikolayPianikov commented on #29
Could you add another one argument `/Diag:log.txt`, so the final command line looks like:
`vstest.console.exe /ListLogger /Diag:log.txt` and attach `log.txt` please

[2019-01-17 09:21] onkeld0m commented on #29
[log.txt](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/files/2767886/log.txt)

Looks like we've got some dependecy missing on our system. Could you point me to the right direction here?

[2019-01-17 09:41] NikolayPianikov commented on #29
As workaround try using assemblies from `vstest14`, I will try to reproduce this issue at first

[2019-01-17 10:01] onkeld0m commented on #29
Awesome! That did the trick. Now the TeamCity logger is shown.

[2019-01-17 10:36] onkeld0m commented on #29
Just a quick question of topic:

was the friendly name changed at some point in time (maybe coming from VS2012 going to VS2013 or even later)?

[2019-01-17 11:54] NikolayPianikov commented on #29
@onkeld0m, the case of friendly name was changed some times ago, but the corresponding change has been done in TeamCity to support it. Any troubles with it?

[2019-01-17 11:59] NikolayPianikov commented on #29
Which version of Visual Studio are you using now? Did you just install this version or updated it from some previous version of VS 2017?

[2019-01-17 12:15] onkeld0m commented on #29
I've constantly updated it. I think I've started with 15.7.x or may an even older patch level.

[2019-01-18 13:38] NikolayPianikov commented on #29
How many windows TeamCity agents dou you have and how many of them have the same problem?
I had several experiments: latest Windows 10 from the scratch and latest VS 2017 Professional with different sets of installed features, but still can't reproduce this issue. The most simple way to find why `vstest` cannot find required dependencies is to use _FusionLog_ (`Fuslogvw.exe`). To enable assembly b

[2019-02-05 16:55] garethbudden opened #30 "cant get it to work with nunit"
Hi, I'm probably missing something obvious but I was following the animation on your Readme and i can't get the teamcity service messages I was expecting.

These are the commands that I'm running from powershell on my localmachine

`> mkdir nunitTest`
`> cd nunitTest`
`> dotnet new nunit`
`> dotnet add package TeamCity.VSTest.TestAdapter`
`> dotnet restore`
`> dotnet test`

which outputs

As you c

[2019-02-05 17:16] NikolayPianikov commented on #30
@garethbudden Logger detects a running under TeamCity to not make a mess in stdOut. To test your commands just set the environment variable `TEAMCITY_VERSION` to some value. For instance `SET TEAMCITY_VERSION=2018.2`. TeamCity makes it automatically for each child process

[2019-02-06 09:36] garethbudden commented on #30
ah! brilliant that's got it, thanks.

[2019-02-06 09:36] #30 closed

[2019-03-04 02:07] flcdrg opened #31 "Building with .NET Core SDK 2.2.200 fails with Could not find a test logger with AssemblyQualifiedName, URI or FriendlyName 'logger://teamcity/'"
.NET Core SDK 2.2.200 (which is included in Visual Studio 2019) changes how MSBuildToolsVersion is defined.

This presumably means that https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/blob/master/TeamCity.VSTest.TestLogger/TeamCity.VSTest.TestAdapter.props needs updating to match the new Current value

[2019-03-04 02:26] flcdrg commented on #31
This probably is more generally a requirement to support Visual Studio 2019

[2019-03-04 02:28] flcdrg commented on #31
Presumably .NET Core SDK 2.1.600 will also be affected

[2019-04-03 06:27] danpowell88 commented on #31
Just saw there was a commit to fix this, any idea when the nuget package will get released?

[2019-04-03 06:34] NikolayPianikov commented on #31
@danpowell88 I hope today

[2019-04-03 06:45] NikolayPianikov commented on #31
The package was uploaded to nuget.org as 1.0.15

[2019-04-03 06:45] #31 closed

[2019-04-03 15:26] cschyma opened #32 "Could not find a test logger with AssemblyQualifiedName, URI or FriendlyName 'teamcity'."
Could be in connection to https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/issues/31, but is not working even with "TeamCity.VSTest.TestAdapter" Version="1.0.15".

[code]

1. dotnet new xunit
2. dotnet add package TeamCity.VSTest.TestAdapter
3. dotnet test --logger teamcity --test-adapter-path .

Results in

[code]

[code]

[2019-04-03 18:02] NikolayPianikov commented on #32
@cschyma It is not so good idea to specify arguments `--logger teamcity --test-adapter-path .` there. The path `.` means just a current working directory. But your current working directory does not contain any adapters` assemblies.

Just use the command `dotnet test` to run tests.

To check TeamCity integration you could specify some TeamCity version via the environment variable `SET TEAMCITY_VER

[2019-04-04 02:27] jfloodnet commented on #32
We started getting a strikingly similar error on our build server yesterday.

`Could not find a test logger with AssemblyQualifiedName, URI or FriendlyName 'logger://teamcity/'.`

I'm trying to track down what might have changed, but apparently nothing.

We're running `dotnet test -p:TEAMCITY_VERSION=2018`  inside docker using microsoft/dotnet:2.1-sdk as base image.

Building this same image local

[2019-04-04 05:07] flcdrg commented on #31
This is still broken

[2019-04-04 05:16] danpowell88 commented on #31
The fix worked for me

[2019-04-04 05:35] flcdrg commented on #31
Apologies.. Turns out I'd upgraded to 1.0.14, not 15 :-(

[2019-04-04 06:14] jfloodnet commented on #31
The issue affects running dotnet test in docker builds using microsoft/dotnet:2.1-sdk (as @flcdrg mentions it [here](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/issues/31#issuecomment-469097015)

[2019-04-04 15:25] cschyma commented on #32
Thanks! Now it's working!

The documentation at 'VSTest Console' says:

That's why I tried it that way. An automatic resolution via the environment is much better of course.

[2019-04-04 15:25] #32 closed

[2019-05-29 21:54] seertenedos opened #33 "dotnet test on solution returns can't find logger"
`dotnet test -c Release --no-build -verbosity:normal ./U-BLT.sln`

results in the following error for my 2+ unit test projects and i can't work out how to fix it.

[code]

Environment/setup
I am using dotnet core 2.2 docker images. Building on linux.  I am performing the tests as part of the docker build in case this affects anything and i am using <PackageReference Include="TeamCity.VSTest.TestAd

[2019-05-30 10:20] NikolayPianikov commented on #33
@seertenedos could you make sure that these files:

[code]

are in a directory like `YourTestProject\bin\Release\netcoreapp2.2` before running a command like `dotnet test -c Release --no-build`

The option `--no-build` supposes that all binaries were already built and an output folder is ready to run tests.

Also try running your tests without the option `--no-build`.

[2019-05-30 21:27] seertenedos commented on #33
@NikolayPianikov wow you were right. without --no-build it works.

Thanks to your help i have located the causeand it comes down to when you set ENV TEAMCITY_VERSION.  Turns out it needs to be set before the build where as in the past i set it only before i ran the tests. eg

[code]
but
[code]
works and it also works without the --no-build
I would have though it was the test that checks the env va

[2019-08-20 09:33] elitastic opened #34 "support for .net core 3"
Could you please add support for .net core 3?

When I use ".net core 3.0.0-preview8" to build I have the same issue like described in https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/issues/31:

`Could not find a test logger with AssemblyQualifiedName, URI or FriendlyName 'teamcity'`

[2019-08-20 09:56] NikolayPianikov commented on #34
@elitastic could you add a sample to reproduce?
Also could you run `dotnet --info`

[2019-08-20 10:07] elitastic commented on #34
See below the output from dotnet --info.

I think it needs the same fix as you created to support vs 2019 https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/commit/9e25b799623f6a67c48f309d6b83f2364d06bd01 but this time for MSBuildToolsVersion 16 instead of 15:

Looks like the problem is that "TeamCity.VSTest.TestLogger.dll" is not copied to output, when building with msbuild from .net core 3

[2019-08-28 09:50] NikolayPianikov commented on #34
@elitastic I cannot reproduce this issue. Looks `TeamCity.VSTest.TestAdapter.props` contains correct logic for the case when '$(MSBuildToolsVersion)' == '16.0'. Try the following script to check it:

[code]

You will TeamCity service messages like `##teamcity[`

[2019-08-28 11:24] elitastic commented on #34
You're right, it works when you set the TEAMCITY_VERSION environment variable before building the project. Teamcity is not installed on my local machine that's why it didn't work. Please note that it works without setting TEAMCITY_VERSION environment when building with .net core < 3.0.

[2019-08-28 11:38] NikolayPianikov commented on #34
it should not produce TeamCity service messages when it is not running under TeamCity. When we are specifying `SET TEAMCITY_VERSION=2019.2` we just emulate a running under TeamCity

I've tried the following script for dotnet core 2.2.401 and it does not produce service messages if we does not set `TEAMCITY_VERSION`:

[code]

[2019-08-28 11:45] NikolayPianikov commented on #34
@elitastic Could you provide some script to reproduce your issue?

[2019-08-28 12:05] elitastic commented on #34
`dotnet test --logger:teamcity`

This command fails when building with dotnet >= 3.0 but works with dotnet < 3.0 even when not running on teamcity. But it's fine for me, I changed my gulp script that it only specifies --logger:teamcity when running on teamcity.

[2019-08-28 12:31] NikolayPianikov commented on #34
I am not sure it is possible

[2019-11-13 22:05] queen-of-code opened #35 "Race condition with entire log line not included in TC output message"
I'm seeing an occasional race condition in some of my xunit tests that have longer test names, which results in me seeing a different number of unit test results with every build run. It looks like occasionally the logger isn't waiting for the entirety of the message line to be flushed out, and so the message that is dumped out to TeamCity is incomplete and badly formatted. I'm not sure if this is

[2019-11-15 09:41] AnSmol commented on #34
`Dotnet test` and `Dotnet vstest /path/to/file.dll /Logger:teamcity /TestAdapterPath:.` both work with  dotnet 3.0.100.
But please replace gif on the README.md to metioned commands snippet. Spent 40 minutes to figure out that example does not work because of absence TEAMCITY_VERSION envinronmet variable.

[2019-12-12 15:05] wattsm opened #36 "No output when run by TeamCity agent"
We are running xUnit tests using `dotnet vstest` as a part of our build process. The tests are being run by the agent but the results are not being reported. Looking at the raw agent logs it seems that no system messages are being emited.

However, I can log onto the build agent's machine as the user that the agent runs as, copy and paste the `dotnet vstest` command into `cmd.exe` and it will run

[2019-12-12 16:13] NikolayPianikov commented on #36
xunit tests **for .net core only** sends tests statistics to TeamCity via service messages without any additional adapters, so you could avoid passing `/Logger:TeamCity "/TestAdapterPath:C:\TeamCity\Agent.1\buildAgent\work\6cbcd640b5d0f18b\build\work"` there

But there is [an issue](https://github.com/xunit/xunit/issues/1706), so you should use the verbosity level at least `normal` adding the argu

[2019-12-12 16:26] NikolayPianikov commented on #36
I've update the [readme file](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter#known-issues)

[2019-12-12 16:46] NikolayPianikov commented on #35
@queen-of-code Looks like the issue in nunit. xunit for .net core (not for full .net) publish service messages by itself and the TeamCity adapter suppress his own messages to avoid duplication. Can you share some test project to reproduce? `queen-of-code` - cool nickname :)

[2019-12-13 08:26] wattsm commented on #36
Thanks @NikolayPianikov, removing the Team City logger from `dotnet vstest` has done the trick.

To clarify, when you say that .Net Core Xunit tests send statistics without any additional adapters, does this mean that they do not require a reference to `TeamCity.VSTest.TestAdapter` in the test project?

[2019-12-13 20:03] queen-of-code commented on #35
Our test project is massive and not something I can share. I suspect any test project that outputs a bunch of sufficiently long lines will repro it - it's got something like a 5% repro rate on our extremely long lines.

[2019-12-16 12:43] NikolayPianikov commented on #36
@wattsm Yes, you could remove that reference if you are planning to have dotnet core xunit test projects only. For instance xunit for full dotnet does not provide TeamCity integration from the box.

[2019-12-16 12:46] wattsm commented on #36
Sounds good, thanks.

[2019-12-16 12:46] #36 closed

[2019-12-16 13:23] NikolayPianikov commented on #35
@queen-of-code Uh-huh I was able to reproduce and I am going to find what is going wrong.

[2019-12-16 14:57] NikolayPianikov commented on #34
@antonarhipov I've added notes under the demo video.

[2019-12-16 14:59] #34 closed

[2019-12-16 15:00] NikolayPianikov commented on #33
I've added notes under the demo video.

[2019-12-16 15:00] #33 closed

[2019-12-16 18:00] queen-of-code commented on #35
This is great news, thanks for investigating!

[2019-12-23 15:29] NikolayPianikov commented on #35
@queen-of-code As I mentioned above xunit (for dotnet core test projects) publishes TeamCity service messages by itself. And there is no simple way to use the TeamCity integration without test duplication. Try turning off xunit-TeamCity integration by passing a settings file to to your test commands:

For instance the test command in the dotnet CLI runner is `dotnet test`
The additional command li

[2019-12-23 17:48] queen-of-code commented on #35
Sure, this is pretty easy for me to test. I’ll give it a shot.

[2019-12-27 17:34] queen-of-code commented on #35
I turned it off exactly as you described, but now I'm seeing less than half of my expected test results return - it seems to happen despite definitely having the `TeamCity.VSTest.TestAdapter` package on latest version in my test csproj. For example, I'm getting something like 6000 total test results reported, but I know for a fact that I have a csproj using that package that reports 8000 test resu

[2019-12-30 09:17] NikolayPianikov commented on #35
Which command are you using to run tests? Have you any other tests frameworks together with xunit? Is it true that all your tests projects are the dotnet core tests projects? Have you any ideas which tests are missing, maybe there is some sort of pattern?

[2019-12-30 15:13] queen-of-code commented on #35
We run all tests using the following:

dotnet build tempest.sln
dotnet test temptest.sln --no-build --no-restore --settings
xunit.runsettings

The xunit.runsettings file has exactly what you pasted in above, and
nothing else. We only have dotnet core tests that run on linux and use
xunit.

It actually looks like I'm not missing individual test projects so much as
getting wildly variable numbers of

[2020-01-18 10:13] ulrichb opened #37 ""vstest.console process failed to connect to testhost process after 90 seconds" error"
After updating to 1.0.18, I got the following errors in the TC run.

[code]

[2020-02-10 15:08] kertak90 commented on #37
i Have same problem.
I'm create ApiTests project with Nunit tests for custom class methods. Tests successfully run.
Then create UnitApiTestsService project which use ApiTests.dll like:
[code]
Service runned by message from RabbitMQ. Locally all succesfully work, but when i put UnitApiTestsService in docker image, after start this image i have same throuble with this text:
`vstest.console process f

[2020-02-10 15:31] NikolayPianikov commented on #37
@kertak90 The VSTest adapter should not impact on tests runs. Try adding the argument `/Diag:[file name]` to get details. Also try removing the adapter and repeater and run tests without it.

[2020-03-18 09:35] txs-lars commented on #37
i have the same problem.
With version 1.0.17 it works!

[2020-03-18 12:24] ulrichb commented on #37
My observation:

* With 1.0.17:  test runs fine
* After removing the `TeamCity.VSTest.TestAdapter` package ref + clean build: test runs fine
* After adding `TeamCity.VSTest.TestAdapter` v1.0.20:

  Error with `vstest.console process failed to connect to testhost process after 90 seconds. This may occur due to machine slowness, please set environment variable VSTEST_CONNECTION_TIMEOUT to increase t

[2020-03-19 13:53] NikolayPianikov commented on #37
I found a potential problem in the attached log:

`
TpTrace Warning: 0 : 15152, 6, 2020/03/18, 13:10:47.296, 889890365818, vstest.console.dll, ProxyOperationManager: Failed to end session: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.VisualStudio.TestPlatform.CommunicationUtilities.TestRequestSender.EndSession()
   at Microsoft.VisualStudio.T

[2020-03-19 16:31] ulrichb commented on #37
.. I will try.

Is it possible that the problem is that I'm using .NET Core 2.2? I'm asking because one of the changes of 1.0.18 is this dependencies update: https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/commit/b1d1a6c22f727c753766627bf7b7ace5e96b267d ... where `Microsoft.NET.Test.Sdk` changed from version 15 to 16.

@txs-lars: Do you also use .NET Core 2.x?

[2020-03-19 19:15] txs-lars commented on #37
I use .Net Core 3.1

[2020-04-09 09:27] viganella commented on #37
I get the same Error both in VS2019 and VS2017, across all solutions when trying to run tests.
Tried to change Platform target(x64) as per some suggestions, clear cache, add MSTest.TestFramework nuget, yada yada yada. Nothing worked.

[2020-04-09 20:15] NikolayPianikov commented on #37
How did you run tests? I mean .NET TeamCity runner or scripts?

[2020-04-09 20:20] NikolayPianikov commented on #37
Try updating test SDK 'Microsoft.NET.Test.Sdk' to latest version for test projects

[2020-04-09 22:10] viganella commented on #37
@NikolayPianikov Updating VS made it work, weird issue. Thanks for the comment though.

[2020-07-08 07:28] batzen opened #38 "FlowId is a sequential number instead of the intended GUID"
The FlowId emitted is not generated by the included `FlowIdGenerator` as the IOC registration uses the default parameter-less constructor of `TeamCityServiceMessages`.
I could create a PR to fix this if someone could help me with the correct way to add tests for this.

[2020-07-10 20:16] NikolayPianikov commented on #38
@batzen thx for reporting. I've published 1.0.22, it contains fix.

[2020-07-10 20:16] #38 closed

[2020-07-10 20:29] batzen commented on #38
Thanks a lot. 👍

[2020-08-24 15:02] gunmaden opened #39 "Could not add additional logger in tests"
I want to add additional trx logging in tests but with this condition is impossible to get teamcity output
https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/blob/2f59b50ef2f26b035f0039d7c5ad6434321892a3/TeamCity.VSTest.TestLogger/TeamCity.VSTest.TestAdapter.props#L28

Possible fix is appending `logger://teamcity` if VSTestLogger don't contains it already.

[code]

[2020-09-07 11:48] NikolayPianikov commented on #39
@gunmaden hi, thank you, will add and check

[2020-09-07 14:30] NikolayPianikov commented on #39
@gunmaden looks like this approach does not work for me. But you could specify multiple loggers, for instance:
[code]

Please see [this ticket](https://github.com/microsoft/vstest/issues/2368) for details

[2020-09-09 07:29] gunmaden commented on #39
@NikolayPianikov sure, but I think that expected behavior after add package is adding TC logger if `IsUnderTeamCity == true` in all cases, not only in case if there's no other loggers

Now we should some workaround (it works 🤔 but it's not elegant) but as I wrote before I think this logic could be implemented out of the box
[code]

[2020-09-29 13:06] bigdnf opened #40 "Problem with .NET Standard"
I'm trying to use this package in my solution but I got this error

error NU1701: Package 'TeamCity.VSTest.TestAdapter 1.0.22' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Version=v4.7, .NETFramework,Version=v4.7.1, .NETFramework,Version=v4.7.2, .NETFramework,Version=v4.8' instead of the project target framework '.NETStandard,Version=v2.0'. This pac

[2020-09-30 09:28] #40 closed

[2020-12-16 13:18] dmitryDemchenko opened #41 "Attachments from single AttachmentSet should not be published into different artifact folders"
We are using automated testframework producing .mht "run report". Custom TestAdapter "unpackes" .mht to folder (at this point main file - index.html - can be viewed with chrome), and then publishes each file as UriDataAttachment. After build pipeline completion "attachmets" at the "Tests" page contain index.html file but it can't be viewed as all referenced resources are unavailable.

Expected beh

[2021-01-21 17:47] bill-robbins-ss opened #42 ".net 5 support"
This package does not copy `TeamCity.VSTest.TestAdapter.dll` and `TeamCity.VSTest.TestLogger.dll` when the project is using `net5.0`.

Note that `IoC.dll` and `TeamCity.ServiceMessages.dll` _are_ copied.

As a workaround, I extracted the two files and added them to my project in `dependencies\` then copy them using MSBuild.

[code]

[2021-01-25 15:53] NikolayPianikov commented on #42
@bill-robbins-ss how did you create your test project. I am trying to reproduce:
[code]

[2021-01-25 17:09] bill-robbins-ss commented on #42
🤔 I didn't RTFM enough. There is a handful of indirection between my project's tests in docker-compose and TeamCity running them, so I was not passing through all of those environment variables.

[code]

[2021-01-25 17:09] #42 closed

[2021-12-08 14:55] mfhaberlach commented on #35
Is there any update on this topic?

We just migrated to .NET Core Test Projects and facing the same race-condition issues with TeamCity and NUnit
We also have a massive solution with some very long test names

[code]

The command we using to run the tests via TeamCity:
[code]

Maybe this is important too, every project has the target framework .netcoreapp3.1 (atm we can't update to .net5 but we wi

[2021-12-20 08:45] NikolayPianikov commented on #35
Unfortunately, this issue is caused by the VSTest engine. Sometimes it mixes stdOut lines from different sources. We are working on the [fix](https://youtrack.jetbrains.com/issue/TW-62349) for it which restore broken lines, it will be available soon.

[2021-12-21 14:51] NikolayPianikov commented on #35
To work around this issue, use the [this version](https://teamcity.jetbrains.com/repository/download/TeamCityPluginsByJetBrains_NetPlugin_NetDev/3737259:id/dotnet.zip) .NET plugin for TeamCity 2021.2.1. This plugin supports "reliable" mode for TeamCity service messages.

[2022-02-10 08:00] nrjohnstone-omnia commented on #24
In scenarios where you have mixed test projects, eg XUnit and Nunit, we had added the Logger console and verbosity commands to make the Xunit output visible and were confused why the NUnit output would not appear when we added the Adapter nuget package.... The gold part from the above threads is you can't just add it to one project if you are providing the logger command... The correct way is to s

[2022-06-07 10:44] cezarypiatekGC opened #43 "Removing TEAMCITY_PROJECT_NAME environment variable breaks other tools"
Hi,

Can anyone explain why the `TEAMCITY_PROJECT_NAME` env variable is removed by this test adapter?

https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/blob/0716fdfa15f5d0c1babc399c1231c944871e1050/TeamCity.VSTest.TestLogger/Options.cs#L55

The lack of this variable breaks other tools (for example ApprovalTests) which relays on this variable while discovering TC context.

Kind Regards,
Cez

[2022-07-25 13:03] doxxx opened #44 "Mutli-targetframework tests are not distinguished by framework in results"
I have a test assembly which targets both .NET Framework 4.7.1 and .NET 6 because it tests a library which targets .NET Standard 2.0 and may be used in both .NET 4.7.1 and .NET 6 environments. `dotnet test` executes the tests twice, once for each framework.

However, the test results don't distinguish the tests by framework. In Teamcity, it shows 2 results for each test, but no information as to w